body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-logo {
  margin-right: 20px;
}

.navbar-right {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: white;
}

.navbar-link {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.container {
  margin: 32px auto; 
  background-color: white;
  width: 70%; 
  padding: 1.5em 3em;
  border-radius: .4em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  display: flex;
  flex-direction: row;
}

.satu {
max-inline-size: 90%;
}

.satu p {
  text-align: justify;
}

.contact {
  display: flex;
  align-items: baseline;
  gap: 2em;
  margin-top: 48px;
}
/* ------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------- */
button {
  color: white;
  background-color: #181823; 
  width: 100px;
  border-radius: 20px; 
  border: none; 
  padding: .8em 1.2em;
}

button:hover {
  background-color: #ff4c34;
  cursor: pointer;
  transition: ease-in-out 0.314s;
  transition-delay: 0.0314s;
}
/* ------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------- */
.satu a {
  text-decoration: none; 
  color: #181823
}

.dua {
  display: flex; 
  justify-content: baseline; 
  margin-top: 48px; 
  gap: 2em;
}

i {
  color: #181823;
}

i:hover {
  color: #ff4c34;
  cursor: pointer;
  transition: ease-in-out 0.314s;
  transition-delay: 0.0314s;
}

.kanan {
  width: 100%
}

.foto {
  width: 100%; 
  border-radius: .4em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  padding-bottom: .5em;
  line-height: .5em;


}

.foto img {
  width: 400px; 
  height: 440px; 
  border-radius: .4em .4em 0 0;
  
}
